html, body{
	width: 100%;
	height: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 100%}

.home-img{
	max-width: 800px;
	max-height: 550px;
	width: 90%;
	height: auto;
	margin: 20px auto 0;
	display: block;
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #232256;
	min-height: 680px;
	height: 100%;	
}
.sidenav h2{
	color: #f0f0f0;
	padding-bottom: 10px;
	border-bottom: 1px solid #3b3a91;
}
.sidenav li:hover a{
	background-color: #3b3a91;
}
.sidenav .active a{
	background-color: #0cd995 !important;
	font-weight: 600;
}
.sidenav a{
	color: #fff;
}

.title-form{
	margin-top: 0!important;
	margin-left: 10px;
	color: #888888;
	display: inline-block;
}
.btn-newPhone{
	display: inline-block;
}

.btn-circle{
	border-radius: 50%;
}


/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height: auto;} 
}